{% extends 'template.html.twig' %}

{% block title %}Hello PersonneController!{% endblock %}

{% block body %}

    <h1 class="text-success">Your search results here </h1>
    <h6 class="text-primary">{{ personne.firstname }} {{ personne.name }} {{ personne.age }}</h6>

{% endblock %}
